<div class="w3l-faq-block py-5" id="faq">
    <div class="container py-lg-4">
      <div class="row mt-5">
        <div class="col-lg-6">
          <div class="faq-image">
            <img src="assets/images/2.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-6 mt-lg-0 mt-5 pl-lg-5">
          <h6 class="sub-titlehny">FaQs</h6>
          <h3 class="hny-title">
            Experts with experience </h3>
          <p class="my-3"> Vestibulum ante ipsum primis in faucibus orci luctus
            turpis sodales quis. Integer sit amet mattis quam.</p>
          <section class="w3l-faq mt-5" id="faq">
            <div class="faq-page">
              <ul>
                <li>
                  <input type="checkbox" checked="">
                  <i></i>
                  <h4>Sed ut perspiciatis unde omnis?</h4>
                  <p>Sit amet consectetur adipisicing elit. Voluptates amet earum velit nobis aliquam
                    laboriosam nihil debitis animi vitae eos nisi laudantium. Tempore reiciendis ipsam culpa, qui
                    voluptates eveniet, incidunt officiis eaque iste minima autem.</p>
                </li>
                <li>
                  <input type="checkbox" checked="">
                  <i></i>
                  <h4>At vero eos iusto odio ducimus qui?</h4>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates amet earum velit nobis aliquam
                    laboriosam nihil quasi fuga, ad corrupti libero omnis sapiente
                    non assumenda excepturi aperiam animi vitae eos nisi laudantium. Tempore reiciendis ipsam culpa, qui
                    voluptates eveniet, incidunt officiis eaque iste minima autem.</p>
                </li>
                <li>
                  <input type="checkbox" checked="">
                  <i></i>
                  <h4>We denounce with righteous?</h4>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates amet earum velit nobis aliquam
                    laboriosam nihil debitis facere voluptatibus consectetur quae quasi fuga, ad corrupti libero omnis
                    sapiente
                    non assumenda excepturi aperiam iste minima autem.</p>
                </li>


              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>

  </div>